* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

li {
    margin-left: 10vw;
    font-size: 1em;
    margin-right: 10vw;
    margin-bottom: 1.5vw;
}

h2, h3 {
    text-align: center;
    margin: 5vh 0vh 10vh 0vh;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.3em;
}

button {
    display: block;
    margin: 5vh auto 2.5vh auto;
    font-size: 1.2em;
    padding: 1vw;
    cursor: pointer;
}

a {
    text-decoration: none;
}

